.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  height: 100vh;
  /*background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../rain-gif.webp");*/
  background-size: cover !important;
  background-position: center !important;
}

.App-container {
  height: 100vh;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}

header {
  width: 100%;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

footer {
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.radio-container {
  color: white;

  input {
    margin-right: 5px;
    margin-left: 10px;

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  

  /*@media (max-width: 900px) {
    display:none;
  }*/
}

.button-transparent {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 500px;
  background: none;
  color: grey;
  font-size: 16px;
  border: 1px solid grey;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    color: white;
    border: solid 1px white;
  }

  @media (max-width: 900px) {
    font-size: 14px;
  }
}

.new-verse-button {
  margin-right: 20px;
}

footer {
  font-family: sans-serif;
  font-size: 14px;
}

.category-pill-container {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow-x: scroll;
  width: 100%;
  padding-left: 3rem;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.category-pill {
  color: white;
  background: transparent;
  border: solid 1px white;
  border-radius: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px;
  transition: 0.2s ease-in-out;

  &:hover {
    background: white;
    color: grey;
    cursor: pointer;
  }
}
